.body {
    width: 80%;
    background: linear-gradient(rgb(65, 69, 88), rgb(1, 1, 12));
    padding: 25px;
    color: white;
    height: 85vh;
    overflow-y: overlay;
}

.body::-webkit-scrollbar {
    display: none;
}