.body-info {
    display: flex;
    align-items: flex-end;
    padding-top: 20px;
    line-height: 55px;;
}

.info-text h4 {
    font-size: 80px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.info-text p, strong{
    font-size: 12px;
}

.img {
    height: 16vw;
    margin: 0 20px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, .5);
}


.body-icons {
    display: flex;
    align-items: center;
}

.body-icons .MuiSvgIcon-root {
    margin-right: 20px;
}

.playlist-play {
    font-size: 70px !important;
    margin-left: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.playlist-play:hover {
    transition: transform .12s ease-in;
    transform: scale(1.1);
}