.footer {
    position: fixed;
    width: 100%;
    height: 65px;
    bottom: 0;
    background-color: #181717;
    padding: 10px;
    display: flex;
}

.footer-left {
    overflow: visible;
    position: fixed;
    display: flex;
    align-items: center;
    color: white;
}

.footer-center {
    display: flex;
    align-items: center;
    color: white;
    padding: 0 450px;
    justify-content: space-between;
    max-width: 150px;
    margin-left: 100px;
}

.footer-right {
    width: 20%;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 50px;
}

.song-details {
    white-space: nowrap;
}

#artist {
    font-size: 9px;
}

#song-name {
    font-size: 11px;
    font-weight: 670;
}

.footer-icon:hover {
    transition: transform 0.2s ease-in;
    transform: scale(1.2) !important;
}

.footer-right * .MuiSlider-root {
    color:grey;
}
.footer-right * .MuiSlider-root:active {
    color:rgb(67, 189, 67);
}

#footericon {
    color: #b3b3b3;
    margin-left: 40px;
    margin-right: 40px;
}


.song-img img {
    height: 60px;
    width: 60px;
    padding-right: 10px;
}


.artists {
    display: flex;;
}

