.login {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
}

.login img {
    width: 30%;
}

.login a {
    padding: 20px;
    background-color:rgb(67, 189, 67);
    border-radius: 100px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}